{
"from":"none",
"value":"1000000000",
"gas":"50000000",
"home":"/home/liuye/repositories/SolidityTest",
"contracts":[{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"Alice",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"Bob",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"BobWatch",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"Bob2",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"C",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"D1",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"D2",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
},
{
 "home":"/home/liuye/repositories/SolidityTest",
 "childhome":"/paperContracts/survey",
 "name":"$F2U",
 "param_Types":"none",
 "param_Names":"none",
 "param_Values":"none",
 "from":"none",   
 "value":"none",
 "gas":"none"
}]
}